.category-btn {
    transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 3px;
}

html, body {
    overflow-x: hidden;
}

#demo-container {
    display: grid;
    grid-template-columns: repeat(8, calc(100% / 7));
    grid-template-rows: repeat(2, auto);
    grid-auto-rows: 0px;
    width: 100%;
}
